/* *{
    background-color: gray;
} */


/* h2{
    color: brown;
}

p{
    background-color: aqua;
} */



/* .cls1{
    background-color: aqua;
}

.cls2{
    color: yellow;
}

#i789{
    background-color: blue;
} */

/* #q101, h6, span, .cls3{
    color: red;
} */



/* div span{
    color: red;
} */

/* div span{
    color: red;
} */

p{
    font-family: Comic Sans MS111111, Arial, sans-serif;
}